html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

header {
    height: 90px;
    background-color: antiquewhite;
    color: aqua;
    /* position: fixed; */
    /* box-sizing: border-box; */
}

a {
    color: inherit;
    text-decoration: none;
}

.header-logo {
    font-size: 36px;
    display: block;
    text-align: center;
    padding-top: 15px;
}

.side-menu 

main {
    width: 100%;
    top: 90px;
    height: 100%;
    /* background-color: cadetblue; */
    display: block;
}

.count-pikmin {
    width: 60%;
    height: 120px;
    border: 2px solid;
    /* padding: auto; */
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    font-size: 36px;
}

.pikmin-collection {

}

.pikmin-type-restaurant {
    height: 760px;
    margin: 40px auto;
    width: 60%;
    /* border: 2px solid; */
    /* display: flex;
    justify-content: space-evenly; */
}

.pikmin-type-logo-restaurant {
    /* border: 2px solid; */
    height: 120px;
    width: 100%;
    margin: 40px auto;  
    padding-top: 10px;
    text-align: center;
}

.pikmin-type-cafe {
    height: 760px;
    margin: 40px auto;
    width: 60%;
    /* border: 2px solid; */

    /* display: flex;
    justify-content: space-evenly; */
}

.pikmin-type-logo-cafe {
    /* border: 2px solid; */
    height: 120px;
    width: 100%;
    margin: 40px auto;  
    padding-top: 10px;
    text-align: center;
}


.upper {
    float: left;
    width: 33%;
}

.red {
    background-color: red;
    border: 2px solid;
    height: 168px;
    width: 168px;
    margin: 40px auto;
}
.red img {
    cursor: pointer;
    transition-duration: 0.3s;
}
.red:hover img {
    opacity: 0.6;
    transition-duration: 0.3s;
}

.yellow {
    background-color: yellow;
    border: 2px solid;
    height: 168px;
    width: 168px;
    margin: 40px auto;
}

.blue {
    background-color: blue;
    border: 2px solid;
    height: 168px;
    width: 168px;
    margin: 40px auto;
}

.lower {
    float: left;
    width: 25%;
}

.white {
    background-color: white;
    border: 2px solid;
    height: 168px;
    width: 168px;
    margin: 40px auto;
}

.purple {
    background-color: purple;
    border: 2px solid;
    height: 168px;
    width: 168px;
    margin: 40px auto;
}

.rock {
    background-color: gray;
    border: 2px solid;
    height: 168px;
    width: 168px;
    margin: 40px auto;
}

.wing {
    background-color: pink;
    border: 2px solid;
    height: 168px;
    width: 168px;
    margin: 40px auto;
}